* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(#4269aa, #efefd4);
  background-repeat:no-repeat;
  color: #efefd4;
}

/* colors */
.text-chrome-white {
  color: #efefd4;
}

.bg-chrome-white {
  background-color: #efefd4;
}

.text-flat-blue {
  color: #4269aa;
}

.bg-flat-blue {
  background-color: #4269aa;
}

.text-dolphin {
  color: #685987;
}

.bg-dolphin {
  background-color: #685987;
}

.text-twilight-lavender {
  color: #8f4964;
}

.bg-twilight-lavender {
  background-color: #8f4964;
}

.text-dull-red {
  color: #b63a42;
}

.bg-dull-red {
  background-color: #b63a42;
}

/* buttons */
.btn-twilight-lavender {
  background-color: #8f4964;
  color: #efefd4;
}

.btn-flat-blue {
  background-color: #4269aa;
  color: #efefd4;
}

.btn-twilight-lavender:hover,
.btn-twilight-lavender:active,
.btn-twilight-lavender:focus,
.btn-flat-blue:hover,
.btn-flat-blue:active,
.btn-flat-blue:focus {
  background-color: #efefd4;
  color: #000;
}

/* nav */
.nav-logo-img {
  height: 2rem;
}

/* main */
main {
  min-height: 80vh;
}

/* index */
.parallax{
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.para-content {
  height: 100%;
}

.para-transparent {
  background-color: rgba(36, 32, 30, .8);
}

#para-one {
  background-image: url('/img/para-1.webp');
}

#para-two {
  background-image: url('/img/para-2.webp');
}

#para-three {
  background-image: url('/img/para-3.webp')
}

#para-four {
  background-image: url('img/para-4.webp');
}

#para-five {
  background-image: url('img/para-5.webp');
}

.page-transparent {
  background-color: rgba(36, 32, 30, .2);
}

.contact-icon {
  width: 6.25rem;
  height: 5.313rem;
}

/* login */
.main-login {
  width: 75vw;
}

@media (min-width: 1200px) {
  .main-login {
    width: 30vw;
  }
}

.user-forgot {
  text-decoration: underline;
}

.user-forgot:hover {
  text-decoration: none;
  cursor: pointer;
}

/* register */
.main-register {
  width: 75vw;
}

@media (min-width: 1200px) {
  .main-register {
    width: 30vw;
  }
}

/* footer */
footer {
  height: 3.75rem;
  margin-top: auto;
  background-color: rgba(36, 32, 30, .7);
}

.icons {
  color: #4269aa;
}

.footer-content {
  height: 3.75rem;
}

footer .icons:hover {
  color: #ae866d;
}
